/* CSS Reset */
*
	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

body
	{
		font-family: "Open Sans", sans-serif;
	}

nav 
	{
		/*	shorthand property	*/
		/*	creates space between the ul tag, the nav elements	*/
		padding: 0.8rem;
		/*	properties that make up the padding properties'
			top bottom left right	*/

		/* creates space between the nav and intro */
		margin-bottom: 2rem;
		border-bottom: 1px solid gray;
		list-style-type: none;

		/*margin vs padding*/
		/*margin is best used when creating space between elements.*/
		/*padding is best used when creating space between an element's border and it's content.*/
	}

nav .nav, nav .nav-logo
	{
		margin: 0.5rem;
		display: inline;
	}

#intro, #succeed-info
	{
		padding-left: 10%;
		padding-right:10%;
		padding-top: 2rem;
		padding-bottom: 3rem;
		/*padding: 2rem 10% 3rem;*/
		text-align: center;
	}

.header
	{
		text-align: center;
	}

#intro h2, #intro p
	{
		margin-bottom: 1rem;
	}

#intro button
	{
		background-color: #c2195b;
		color: white;
		font-weight: bold;
		font-size: 1rem;
		padding: 1rem;
		border-radius: 25px;
	}

#succeed-info h2
	{
		margin-bottom: 1rem;
	}

#succeed-info h3
	{
		margin-bottom: 1rem;
		text-align: center;
	}

#succeed-info .card
	{
		/* appear beside each other */
		display: inline-block;
		/*aligns elements with the tallest element in line*/
		/*used with the "inline-block" value*/
		vertical-align: top;
		/*allows for cards to have equal height that adjust with the content*/
		min-height: 175px;
		/*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
		width: 30%;
		/*creates horizontal spacing between cards*/
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

footer
	{
		padding: 0.7rem;
	}

footer span
	{
		margin-left: 0.5rem;
		margin right: 0.5rem;
	}

/* 1. */
#pre-footer
	{
		padding: 1rem;
		color: white;
		background-color: #002540;
		
	}
/* 2. */
#pre-footer div
	{
		display: inline-block;
		horizontally-align: top;
		width: 20%;
	}

/* 3. */
body > #pre-footer > div > p, body > #pre-footer > div > h3
	{
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}