
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}


nav {
	position: sticky;
	top: 0;
	display: inline;
	font-size: 1em;
	z-index: 1;
}

ul {
	direction: rtl;
	padding-left: 10%;
	padding-right:10%;
	background: white;
	top: 0;
	height: 40px;
	width: 100%;



}

nav .nav {
	margin: 6px;
	display: inline;
	font-size: 10px;
	top: 10px;

	position: relative;
	height: 75px;
	}

nav .nav-logo {
	float: left;
	display: inline;
}


.tuitt-button {
	background-color: #c2195b;
	color: white;
	border-radius: 100px;
	border: 0px solid black;
	text-transform: uppercase;
	float: right;
	padding: 6px;
	display: inline;
	width: 10%;
	font-size: 10px;
}


#bg-image {
	width: 100%;
	height: 200px;
	background-repeat: round;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);

}


body > section > div > div 
{
	padding-left: 50%;
	padding-right: 10%;

}
body > section > div > div > h1 {
	color: white;
	font-size: 2em;
	text-align: right;
	margin-bottom: 10px;
}

body > section > div > div > h2 {
	color: white;
	font-size: 0.8em;
	text-align: right;
	margin-bottom: 10px;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	border-radius: 100px;
	border: 0px solid black;
	float: right;
	width: 25%;
	padding: 6px;
	font-size: 10px;

}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	position: relative;
	height: 100%;
}


.title, .title-2 {
	font-family: "Zilla Slab";
}

.title-2 {
	text-align: center;
	position: relative;
	height: 75px;
	margin: 30px;
	padding-left: 10%;
	padding-right:10%;
}

.intro-description {
	text-align: center;
	position: relative;
	height: 75px;
	margin: 30px;
	padding-left: 10%;
	padding-right:10%;
}

.prefooter-description{
	text-align: center;
	position: relative;
	height: 45px;

	padding-left: 10%;
	padding-right:10%;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	height: 50vh;
}

.book-button {
	background-color: #336589;
	color: white;
	border-radius: 100px;
	border: 0px solid black;
	padding: 9px;
	font-size: 10px;
	width: 12%;
}

footer {
	text-align: center;
}
