/*
	Display Properties
	block - take up as much space as they can (entire width of the webpage) (any element next to it will start in a new line)
	inline - takes a width enough for its content (elements can be place side by side)
	inline-block
	none
*/

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* div elements are by block elements by default */
#div-1 {
		background-color: green;
		display: inline;
	}

/* width and height cannot be used in the property display: inline */
#span-1 {
		background-color: purple;
		display: inline-block;
		width: 200px;
		height: 200px;
	}
#span-2 {
		background-color: red;
		display: block;
	}
#div-2 {
		background-color: hotpink;
		display: none;
	}
/*	inline-block can set a height and width */
#img {
	display: inline-block;
	width: 250px;
	height: 250px;
}
#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 105, 180);
	width: 60%;
}
#p-3 {
	background-color: limegreen;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

/* float property */
.img-float {
	width: 250px;
	height: 250px;
	float: inherit; /* inherit, left, right */ 
}

.box {
	background-color: darkred;
	border: 1px solid black;
	margin: 5px;
	color: white;
}

.fifty-percent {
	width: 50%;
}

.one-hunder-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

/* 1vw = 1%; 1vh = 1% */
.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}
/*
	rem - based on the root elemet (HTML)
		1 rem = 16px
	em - based on the parent element
		1 em = set value of the parent element
*/
.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

/*
	percent is also based on parent element
*/
.two-hundred-percent {
	font-size: 200%;
}

.background {
	min-height: 100vh;
	/*background-color - can change the color background. It can takes #hex value or an rgb value.*/
	background-color: gray; /*hex codes, rbg */
	/*background-image: url(URI) - Takes on the path to your image.*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/*
		background-repeat - whether you would like the background to repeat if the width exceeds the background size.
	*/
	background-repeat: no-repeat; /* repeat-x, repeat-y, space, round */
	/*
		background-size: specifies the size of the background images.
		one-value
		two-value - background size: w_value h_value
	*/
	background-size: 100%; /*auto, contain, cover, px, %*/
	/*
		background-position - position of the background relative to the HTML element.
		Two values are needed here, X and Y, where X is the amount of offset from the left and Y is the amount of offset from the top.
			left, center, right, bottom, number values
	*/
	background-position: center top;
	background-attachment: scroll; /* fixed */
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5); /* rgba used for opacity */
	min-height: 100vh;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

/* static default value for elements */
/* relative - remain in the normal flow of the document but with additional properties (left, right, bottom, ro, z-index) */
/* Absolute - Elements with position: absolute are positioned relative to their parent elements. */
/* Fixed - Fixed-position elements are similar to absolutely positioned elements. They are also removed from the normal flow of the document. But unlike absolutely positioned elements, they are always positioned relative to the  element.*/
/* Sticky - position: sticky is a mix of position: relative and position: fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element.*/
.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh
}

/* z-index */
.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3; /* gray box will be above green and black */
	background: rgba(189, 195, 199, .75);
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2; /* green box will be above black box */
	background: lightgreen;
	width: 35%;
	left:270px;
	top: -15px;
	height: 100px;
}