/* 5. */
#external
	{
		color: yellow;
	}

/* 6. */
*
	{
		font-family: "Verdana", sans-serif;
		font-size: 20px;
	}

/* 7. */
h1 
	{
		font-size: 3rem;
	}

/* 8. */
#sub-header
	{
		text-transform: uppercase;
	}

/*	9. */
.text-green
	{
		background-color: green;
	}

/* 10. */
li[class="border-blue"]
	{
		border-width: 2px;
		border-style: solid;
		border-color: blue;
	}
/* 11. */
img + ul
	{
		list-style-type: none;
	}

/* 12. */
section img
	{
		height: 20vh;
		width: 20vh;
		border-radius: 100px;			
	}

/* 13. */
h4 ~ p
	{
		text-align: center;
	}

/* 14. */
body > section > ul > li
	{
		letter-spacing: 10px
	}

